%absolute-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%absolute-horizontal {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

%transition {
  transition: all .2s ease;
}

// vue utility
[v-cloak] {
    display: none !important;
}

.grid-container {
    max-width: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


// .grid-container.full {
//     padding: 0 15px;
// }


// $numbers: "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "11" "12";
// .wrapper {
//     &--fluid {
//         position: relative;
//         max-width: 100%;
//     }
// }
// .grid {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-column-gap: 2rem;
//   grid-row-gap: 2rem;
//   height: 100vh;
//   max-width: 100%;
// }

// .col {
//   background-color: dimgray;
//   padding: 15px;
//   color: #fff;
//   text-align: center;
// }

// @each $width in $numbers {
//   .col-#{$width} {
//     grid-column: span #{$width};
//   }
// }

// // ========= SMALL =========
// @media (max-width: 39.9375em) {
//   @each $width in $numbers {
//     .col-#{$width}\@s {
//       grid-column: span #{$width};
//     }
//   }

//   @each $size in $numbers {
//     .order-#{$size}\@s {
//       grid-column: span #{$size};
//     }
//   }
// }

// // ======== MEDIUM =========
// @media (min-width: 40em) {
//   @each $width in $numbers {
//     .col-#{$width}\@m {
//       grid-column: span #{$width};
//     }
//   }

//   @each $size in $numbers {
//     .order-#{$size}\@m {
//       grid-column: span #{$size};
//     }
//   }
// }

// // ======== LARGE ===========
// @media (min-width: 64em) {
//   @each $width in $numbers {
//     .col-#{$width}\@l {
//       grid-column: span #{$width};
//     }
//   }

//   @each $size in $numbers {
//     .order-#{$size}\@l {
//       grid-column: span #{$size};
//     }
//   }
// }

// // ======= XTRA LARGE =========
// @media (min-width: 90em) {
//   @each $width in $numbers {
//     .col-#{$width}\@xl {
//       grid-column: span #{$width};
//     }
//   }

//   @each $size in $numbers {
//     .order-#{$size}\@xl {
//       grid-column: span #{$size};
//     }
//   }
// }
