body {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

h1 {
    @extend %gradient-heading;
    @include font-size(40px);
    font-weight: 800;
    margin-bottom: 15px;
}

h2 {
    @extend %gradient-heading;
    @include font-size(30px);
    font-weight: 800;
    margin-bottom: 15px;
}


h3 {
    @extend %gradient-heading;
    @include font-size(24px);
    font-weight: 800;
    margin-bottom: 15px;
}

h4 {
    @extend %gradient-heading;
    @include font-size(18px);
    font-weight: 800;
    margin-bottom: 15px;
}


blockquote {
    background: #eee;
    outline: 1px solid #E2E2E2;
    padding: .5625rem 1.25rem .5625rem 1.1875rem;
    
    > * {
        color: #444 !important;
        margin: 0;
    }
}